@{
    ViewData["Title"] = "Dashboard";
}

<h2>Employee Dashboard</h2>

<ul>
    <li><a asp-controller="Farmers" asp-action="Create">Add New Farmer</a></li>
    <li><a asp-controller="Employee" asp-action="AllProducts">View All Products</a></li>
</ul>